html
    head
        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-T5WWQM35T1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-T5WWQM35T1');
    body
        .header
            .logo 
            .pages
                .title Projects
                .title Portfolio
                .title About Us
                .title Contact Us
            .icons
                .behance
                .artstation
                .linkedin
            .getInTouch
        .introSection
        .section 
            .articleTitle 
            .articleSubtitle
            .content
        .section 
            .articleTitle 
            .articleSubtitle
            .content
        .section 
            .articleTitle 
            .articleSubtitle
            .content
        .section 
            .articleTitle 
            .articleSubtitle
            .content
        .footer
            .name 
            .email
            .company
            .jobTitle
            .message
            .getInTouchBtn
            .icons
                .behance
                .artstation
                .linkedin